---
layout: modules/homepage/default
metadata:
  generator: ooc
  indexed_at: '2022-04-01 06:28:47'
  page_title: About Us
  parent_folder: modules/homepage/public/views/pages/
slug: home.htm
---
{% content_for 'page_title' %}
<title>Sydney Commercial Kitchens - About Us and what we do</title>
        <meta content="Sydney Commercial Kitchens, sydney commercial kitchens, sck, equipment wholesale, catering equipment wholesalers, catering equipment, commercial equipment, Hospitality Equipment restaurant equipment, cafe equipment, hotel and restaurant equipment," name="keywords" />
        <meta content="Catering Equipment for Restaurants, Cafes, Hotels, Canteens, etc." name="description" />
        <meta content="document" name="resource-type" />
        <meta content="catering equipment" name="classification" />
        <meta content="ALL" name="robots" />
        <meta content="Global" name="distribution" />
        <meta content="General" name="rating" />
        <meta content="info@sydneycommercialkitchens.com.au" http-equiv="reply-to" />
{% endcontent_for %}
<h1>About Us</h1>
<p>Last Commit Home</p>