---
layout: modules/homepage/default
metadata:
  generator: ooc
  indexed_at: '2022-04-01 06:28:47'
  page_title: About Us
  parent_folder: modules/homepage/public/views/pages/
slug: home.htm
---
{% content_for 'page_title' %}
<title>Sydney Commercial Kitchens - About Us and what we do</title>
        <meta content="Sydney Commercial Kitchens, sydney commercial kitchens, sck, equipment wholesale, catering equipment wholesalers, catering equipment, commercial equipment, Hospitality Equipment restaurant equipment, cafe equipment, hotel and restaurant equipment," name="keywords" />
        <meta content="Catering Equipment for Restaurants, Cafes, Hotels, Canteens, etc." name="description" />
        <meta content="document" name="resource-type" />
        <meta content="catering equipment" name="classification" />
        <meta content="ALL" name="robots" />
        <meta content="Global" name="distribution" />
        <meta content="General" name="rating" />
        <meta content="info@sydneycommercialkitchens.com.au" http-equiv="reply-to" />
{% endcontent_for %}
<h1>About Us</h1>
        <p><strong>The Sydney Commercial Kitchens Online Showroom</strong> is the leading Internet supplier of Restaurant &amp; Catering Equipment in
        Australia. We provide all the best brands of catering equipment at affordable prices and delivery is Australia wide, at competitive rates. We
        also supply many hospitality businesses in the Pacific Islands. </p>
        <p>Since 1998 have served more than 8,500 customers. <a href="/customers">Click here</a> to see a current list</p>
        <h2>What we do and why you will benefit by using SCK!</h2>
        <p><strong>1. Brands you can TRUST:</strong> we supply all the best brands of catering equipment at affordable prices.</p>
        <p><strong>2. Real, experienced knowledge:</strong> our sales specialists are qualified chefs, we understand what you need and how you want to work.</p>
        <p><strong>3. Rapid Response:</strong> get your product or quotation fast tracked. We recognise that speed matters. </p>
        <h2>Our Customer service promise:</h2>
        <ul>
            <li>Efficient, helpful and most prompt service possible.</li>
            <li>Best prices available Australia Wide.</li>
            <li>Delivered in the shortest time available.</li>
            <li>Hospitality Advice: We can help you think through all aspects of your business. From an individual appliance purchase to entire layout design.
            You can count on Sydney Commercial Kitchens to provide expert, non-biased advice that matches your needs. </li>
        </ul>
        <h2>Our Goal:</h2>
        <p>Our goal at SCK is to sell you products that add value to your business.</p>
        <p><strong>Peace of mind:</strong> All our products are supported by the Manufacturer's warranty. Our team will help you make contact if you need it.</p>
        <p><strong>Reputation:</strong> Operating since 1998, Sydney Commercial Kitchens enjoys a highly respected position within the hospitality industry.
        The trust from our long term suppliers and repeat customers is testament to the quality of service we provide. This has also been recognised
        by numerous awards for both social responsibility and business services.</p>
        <p>Another part of the reason for our success is the amount of <strong>FREE valuable information</strong> that we provide throughout the website.
        We also endeavour to keep our overheads as low as possible and then pass these savings on to you, the customer.
        <strong>We save you money!</strong>	</p>
        <p>Our goal is to establish a long term relationship with all of our customers, so please feel free to contact us with any questions
        that you may have. We are here to help! </p>
        <p>Inside this website you will find <a href="/show.htm" title="Catering equipment @ Sydney Commercial Kitchens">commercial cooking	equipment </a>,
        a <a href="/planning.html" title="Commercial Kitchen Planning Kit">FREE Commercial Kitchen Planning Kit</a>, PLUS
        <a href="/tips.htm" title="Equipment Tips">great Tips on buying equipment</a> and helpful resources for all restaurants, cafe's,
        take aways, clubs, hotels, pubs, nursing homes, hospitals and caterers.</p>
        <p>We also have been busy creating FREE product guides which you can download at
        <a href="/free-guides" title="Download our free product guides">FREE product guide</a></p>
        <p>Occasionally the item that you are looking for will not be displayed on our website. If this is the case, then please contact us by
        either phone on 02 9999 5800 or by using the request quote form <a href="/email.htm" title="Sydney Commercial Kitchens Request Quote form">
        <span style="font-size: 10pt; font-family: arial;">Request Quote</span></a>.</p>
        <p><strong>Delivery</strong> - We are <a href="/show.htm" title="equipment @ Sydney Commercial Kitchens">catering equipment suppliers</a>
        to all commercial kitchens Australia wide at reasonable prices, just call our office for pricing on 1300 881119</p>
        <p><strong>The Sydney Commercial Kitchens website</strong> operates 24 hours 7 days per week for your convenience. </p>
        <!-- Our Offices -->
        <h2>Our new offices in Warriewood</h2>
        <p>Our new offices are located in Warriewood on Sydney's Northern Beaches but please note that at this stage we do not have a physical showroom.</p>
        <p><iframe src="https://www.youtube.com/embed/m3Bl7l-XNsI?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.sydneycommercialkitchens.com.au" frameborder="0" height="315" width="420" data-gtm-yt-inspected-10319367_10="true" id="41437568"></iframe></p>
        <!-- Articles about SCK -->
        <h2>Article from The Age</h2>
        <p><strong>Working remotely | Could you work from anywhere?</strong></p>
        <p>Oct 5, 2010 ... Neil Willis runs Sydney Commercial Kitchens out of Santa Monica, California. <br>
        ... Willis said he had two years with a turnover of more than ...  <br>
        <a target="_blank" title="The Age article 'more-than-a-remote-chance-of-success'" href="http://www.theage.com.au/small-business/growing/more-than-a-remote-chance-of-success-20101005-164yn.html">
        www.theage.com.au/small-business/growing/more-than-a-remote-chance-of-success-20101005-164yn.html</a></p>
        <p>Sydney Commercial Kitchens was established in 1998 and in April of 2000 moved to being exclusively a web based business.
        Sydney Commercial Kitchens now has a multi million dollar turnover.</p>
        <!-- Our Team -->
        <h2>Our team is:</h2>
        <p><strong>Neil Willis – Business Owner</strong> </p>
        <p>In a professional career spanning 40 years Neil has owned or managed restaurants, cafes and catering businesses. His experience
        covers all areas of the hospitality industry. From: working as a chef to working as a maitre' d and head waiter in one of Australia's best
        known restaurants, managing hotels and bottle shops, owning his own restaurant and cafe in partnership, establishing and owning three catering
        businesses, including one which, although sold in the early 1990's has now successfully	operated for more than 27 years.</p>
        <p>Neil retains that passion that has helped him build this business into the success that it enjoys today. His knowledge of internet marketing
        will continue to drive this business into the future.</p>
        <p><strong>Scott Morgan – Sales</strong></p>
        <p>Scott originally trained as a chef and uses this experience to help your business source the correct equipment.</p>
        <p>Scott joined Sydney Commercial Kitchens in June 2006. While he did leave for a short time to spend several months learning our industry from a
        suppliers perspective, this additional knowledge has added depth to his already vast knowledge of catering equipment.</p>
        <p>We are sure glad to have him back on the team.</p>
        <p><strong>Lisa Anderson – Accounts/Administration/Sales</strong></p>
        <p>Lisa joined Sydney Commercial Kitchens in November 2007 and has brought a wealth of knowledge and experience to our business,
        including 13 years running her own businesses. She also makes a great cup of coffee!</p>
        <p><strong>Melissa – Sales</strong></p>
        <p>Melissa joined SCK in July 2012 after working for a number of years in kitchens. Melissa has a very dry sense of humour which she uses frequently.</p>
        <p><strong>Brett Nipper – Sales</strong></p>
        <p>Brett worked as a chef for 22 years and most recently as head chef at the Gazebo.</p>
        <p>Brett joined Sydney Commercial Kitchens in July 2015. His extensive knowledge of how to use the equipment we sell has been valuable and he has quickly proven himself as a valued member of the team.</p>
        <div>
        <img src="{{'modules/homepage/images/blog/SCK-TEAM.jpg' | asset_url}}" alt="SCK Team" title="SCK Team" class="img-fluid">
        <p>Team is from left to right: Melissa, Lisa, Neil &amp; Scott</p></div>
    
